<!doctype html>
<html>

<head>
    <title>Spotify To Listen Playlist</title>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDuKcZRCzK1wL4kajLJRaycRlXQivfYSOU",
            authDomain: "spotify-to-listen-playlist.firebaseapp.com",
            databaseURL: "https://spotify-to-listen-playlist.firebaseio.com",
            projectId: "spotify-to-listen-playlist",
            storageBucket: "spotify-to-listen-playlist.appspot.com",
            messagingSenderId: "1091168141213",
            appId: "1:1091168141213:web:52a4d0496c691b556c3974"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>

    <script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
    
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">


</head>

<body>

    <div id="banner">
        <div id="logo">
            <!-- TODO Logo or other picture-->
            <a href="{{ url_for('main') }}" id="home-link">To Listen Playlist</a>
        </div>
        <div id="top-menu">
            {% if user_data %}
            <a id="sign-out" hidden=true>sign out</a>
            {% endif %}
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="main-column">
        <div id="left-column">
            {% if user_data %}
            <p id="heading">Select a Playlist To Use</p>
            <p>I'd recommend making a new one</p>
            {% if saved_playlist %}
            <p>Currently selected playlist: <u>{{ saved_playlist['name'] }}</u></p>
            {% else %}
            <p>No playlist currently selected</p>
            {% endif %}
            <form method="POST" action="/save_playlist">
                <label for="playlist_id">Playlist:</label>
                <select name="playlist_id" id="playlist_id">
                    {% for playlist in playlists %}
                        {% if saved_playlist and playlist['id'] == saved_playlist['id'] %}
                        <option value="{{playlist['id']}}" selected>{{playlist['name']}}</option>
                        {% else %}
                        <option value="{{playlist['id']}}">{{playlist['name']}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
            </form>
            {% elif error_message %}
            <p>Error: {{ error_message }}</p>
            {% endif %}
        </div>
        <div id="right-bar">
            <div id="firebaseui-auth-container"></div>
            <div id="login-info" hidden=true>
                {% if user_data %}
                <p>Signed in as</p>
                <ul>
                    <li>Name: {{ user_data['name'] }}</li>
                    <li>Email: {{ user_data['email'] }}</li>
                </ul>
                {% elif error_message %}
                <p>Error: {{ error_message }}</p>
                {% endif %}
            </div>
        </div>
    </div>        
</body>

</html>