name: Release Site to App Engine

on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - 'app/**'
env:
  PROJECT_ID: ${{ secrets.GCE_PROJECT_ID }}

jobs:
  deploy:
    name: Deploy to AppEngine
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v3
      with:
        credentials_json: '${{ secrets.GCE_SA_KEY }}'
    - uses: 'google-github-actions/setup-gcloud@v3'
      with:
        version: '>= 363.0.0'
    - name: Deploy
      run: |-
        cd app/ && \
          gcloud -q app deploy