name: Release Schedule Listens Cloud Function

on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - 'functions/schedule_listens/*'
env:
  PROJECT_ID: ${{ secrets.GCE_PROJECT_ID }}

jobs:
  deploy:
    name: Deploy Cloud Function
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v3
      with:
        credentials_json: '${{ secrets.GCE_SA_KEY }}'
    - uses: 'google-github-actions/setup-gcloud@v3'
      with:
        version: '>= 363.0.0'
    - name: Deploy
      run: |-
        cd functions/schedule_listens && \
          gcloud functions deploy schedule_listens